/*CSS called by admin interface*/
div#iz-calender select{
	width:100px;
	text-align:center;
}
div#iz-calender ul,div#iz-calender ul li{
	list-style-type:none;
}
div#iz-calender label{
	cursor:text;
}
div#iz-calender div .calender-months {
	padding-bottom:70px;
}
div#iz-calender div .calender-months ul li {
}
div#iz-calender ul.calender-month-row , div#iz-calender div#calender-select-year{
	clear:both;
	width:180px;
	padding:0;
}
div#iz-calender div.wrap h2 {
	margin-bottom:8px;
}
div#iz-calender div.wrap h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:normal;
	font-size:18px;	
	border-bottom:1px dotted #CCCCCC;
	padding-bottom:10px;
}
div#iz-calender div#iz-calender-page-list table{
	background-color:#CCC;
}
div#iz-calender div#iz-calender-page-list table td{
	background-color:#FFF;
	vertical-align:top;
	padding:5px;
}
div#iz-calender div#iz-calender-page-list table td.table-head{
	background:-moz-linear-gradient(center bottom ,#e7e7e7 , #CCC) repeat scroll 0 0 transparent;
}
div#iz-calender div#iz-calender-page-list table td a{
	font-weight:bold;
	text-decoration:none;
}
div#iz-calender div.calender-months ul li{
	min-width:1px;
	float:left;
	margin-bottom:0px;
}
div#iz-calender div.calender-months ul li a {	
	background:-moz-linear-gradient(center bottom ,#f2f2f2 , #e7e7e7) repeat scroll 0 0 transparent;
	background-color:#f2f2f2;
	padding:15px;
	width:25px;
	float:left;
	text-decoration:none;
	margin:1px;
	border:1px solid #e7e7e7;
}
div#iz-calender div.calender-months ul li a:hover,
div#iz-calender div.calender-months ul li.active a{	
	background:-moz-linear-gradient(center bottom ,#EFF8FC, #9DD2EA) repeat scroll 0 0 transparent;
	background-color:#e7e7e7;
	color:#369;
	font-weight:bold;
}
div#iz-calender div.wrap div.days select {

}
div#iz-calender div.wrap div.days {
	background-color:#f2f2f2;
	float:left;
	margin-left:30px;
	width:550px;
	margin-top:8px;
	padding:0px 20px 20px 20px;
}
div#iz-calender div.wrap div.calender-months {
	width:180px;
	height:210px;
	float:left;
}
div#iz-calender div.iz-calender-event-description {
	width:300px;
	float:left;
}
div#iz-calender div.iz-calender-event-description label {
	padding-left:4px;
}
div#iz-calender div.iz-calender-event-attributes {
	width:240px;
	float:right;
}
div#iz-calender div.iz-calender-event-attributes label{
	padding-right:10px;
}
div#iz-calender div.iz-calender-event-attributes div#date-format{
	font:italic 11px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight:normal;
	color:#999999;
	padding-top:10px;
	padding-bottom:10px;
}
div#iz-calender div.iz-calender-event-description textarea,div.iz-calender-event-description input {
	width:280px;
}
div#iz-calender div#calender-select-year {
	width:177px;
}
div#iz-calender div#calender-select-year ul {
	padding:0;
}
div#iz-calender div#calender-select-year div.calender-year {
	float:left;
	text-align:center;
	width:75px;
	padding-top:4px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
}
div#iz-calender div#calender-select-year ul.next li a{
	background:-moz-linear-gradient(left bottom , #F2F2F2, #E7E7E7) repeat scroll 0 0 transparent;
	float:right;
	color:#999999;
	text-decoration:none;
	padding:5px 11px;
}
div#iz-calender div#calender-select-year ul.next li a:hover {
	background:-moz-linear-gradient(left bottom , #e7e7e7, #cccccc) repeat scroll 0 0 transparent;
	color:#666666;
	text-decoration:none;
}
div#iz-calender div#calender-select-year ul.prev li a{
	background:-moz-linear-gradient(right bottom , #F2F2F2, #E7E7E7) repeat scroll 0 0 transparent;
	float:left;
	color:#999999;
	text-decoration:none;
	padding:5px 11px;
}
div#iz-calender div#calender-select-year ul.prev li a:hover {
	background:-moz-linear-gradient(right bottom , #e7e7e7, #cccccc) repeat scroll 0 0 transparent;
	color:#666666;
	text-decoration:none;
}

/*Dashboard*/
div.izc-dashboard-panel{
	background-image:url(../images/dasboard_bg.png);
	background-position:100% 30px;
	background-repeat:no-repeat;
	padding:0px 20px;
	-moz-border-radius:7px;
}